<div class="container p-3 justify-content-center">
  <h1>Your Movie Lists</h1>
  <p>See you created lists and create new ones.</p>
</div>

<div class="container justify-content-center">
  <% @lists.each do |list| %>
    <div class="container p-3 justify-content-center">
      <%= render 'list', list: list %>
    </div>
  <% end %>
  <%= link_to new_list_path, class: "wrapper-link" do %>
    <div class="container p-3 justify-content-center">
      <div class="card-list">
        <div class="card-list-infos">
          <h2>+ New list</h2>
          <p>0 movies in this list</p>
        </div>
        <div class="list-card-movies">
        </div>
      </div>
    </div>
  <% end %>
</div>
